@font-face {
 font-family: "Tomorrow";
  src: url("/fonts/Tomorrow/Tomorrow-Regular.ttf"),
    url("/fonts/Tomorrow/Tomorrow-Regular.eot"),
    url("/fonts/Tomorrow/Tomorrow-Regular.otf"),
    url("/fonts/Tomorrow/Tomorrow-Regular.svg"),
    url("/fonts/Tomorrow/Tomorrow-Regular.woff"),
    url("/fonts/Tomorrow/Tomorrow-Regular.woff2"),
    url("/fonts/Tomorrow/Tomorrow-Regular.ttf");
  font-weight: 400;
  font-style:normal;
}

@font-face {
 font-family: "Tomorrow";
 src: url("/fonts/Tomorrow/Tomorrow-Black.ttf"),
  url("/fonts/Tomorrow/Tomorrow-Black.eot"),
  url("/fonts/Tomorrow/Tomorrow-Black.otf"),
  url("/fonts/Tomorrow/Tomorrow-Black.svg"),
  url("/fonts/Tomorrow/Tomorrow-Black.woff"),
  url("/fonts/Tomorrow/Tomorrow-Black.woff2");
  font-weight: 900;
  font-style:normal;
}

@font-face {
 font-family: "Tomorrow";
  src: url("/fonts/Tomorrow/Tomorrow-Bold.ttf"),
    url("/fonts/Tomorrow/Tomorrow-Bold.eot"),
    url("/fonts/Tomorrow/Tomorrow-Bold.otf"),
    url("/fonts/Tomorrow/Tomorrow-Bold.svg"),
    url("/fonts/Tomorrow/Tomorrow-Bold.woff"),
    url("/fonts/Tomorrow/Tomorrow-Bold.woff2");
  font-weight: 700;
  font-style:normal;
}

@font-face {
font-family: "Tomorrow";
  src: url("/fonts/Tomorrow/Tomorrow-Italic.ttf");
  font-weight: 400;
  font-style:italic;
}

@font-face {
font-family: "Tomorrow";
  src: url("/fonts/Tomorrow/Tomorrow-Light.ttf"),
  url("/fonts/Tomorrow/Tomorrow-Light.eot"),
  url("/fonts/Tomorrow/Tomorrow-Light.otf"),
  url("/fonts/Tomorrow/Tomorrow-Light.svg"),
  url("/fonts/Tomorrow/Tomorrow-Light.woff"),
  url("/fonts/Tomorrow/Tomorrow-Light.woff2");
  font-weight: 300;
  font-style:normal;
}

@font-face {
font-family: "Tomorrow";
  src: url("/fonts/Tomorrow/Tomorrow-Medium.ttf");
  font-weight: 500;
  font-style:normal;
}

@font-face {
font-family: "Tomorrow";
  src: url("/fonts/Tomorrow/Tomorrow-Thin.ttf"),
  url("/fonts/Tomorrow/Tomorrow-Thin.otf"),
  url("/fonts/Tomorrow/Tomorrow-Thin.eot"),
  url("/fonts/Tomorrow/Tomorrow-Thin.svg"),
  url("/fonts/Tomorrow/Tomorrow-Thin.woff"),
  url("/fonts/Tomorrow/Tomorrow-Thin.woff2");
  font-weight: 100;
  font-style:normal;
}


body {
  background-color: #1238E0;
  margin-top:0;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  
/*  padding: 10px 10px 10px 10px;*/
  font-family: "Tomorrow";
  font-weight:400;
/*  width:50%;
  max-width:600px;*/
  font-size:18px;
  line-height:1.3em;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  max-width: 100%;
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background: rgba(18,56,224,0.8);
  margin-top: 2vh;
  margin-left: auto;
  margin-right:auto;
  padding: 3.5vw;
  width: 88%;
  height:93%;
  border: 1px solid #0fdbba;
  border-radius: 20px;
  box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.2);
  align-content: center;
}

.modal-content-clair {
  background: rgba(15,219,186,0.9);
  margin-top: 2vh;
  margin-left: auto;
  margin-right:auto;
  padding: 3.5vw;
  width: 88%;
  height:93%;
  border: 1px solid rgba(77,255,255,1);
  border-radius: 20px;
  box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.2);
  align-content: center;
}

.modal-content-fin {
  background: rgba(18,56,224,0.8);
  margin-top: 2vh;
  margin-left: auto;
  margin-right:auto;
  padding: 3.5vw;
  width: 88%;
  height:90%;
  border: 1px solid #0fdbba;
  border-radius: 20px;
  box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.2);
  align-content: center;
}



#modal-clair-1 {
  background: rgba(15,219,186,0.9);
}
#modal-clair-2 {
  background: rgba(15,219,186,0.9);
}
#modal-clair-3 {
  background: rgba(15,219,186,0.9);
}
#modal-clair-4 {
  background: rgba(15,219,186,0.9);
}


/*MODAL DE L'INTRODUCTION*/

.modal-2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  max-width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #1238E0;
  background-repeat: no-repeat;
}

/* Modal intro Content/Box */
.modal-2-content {
  margin-top:0vw;
  width: 100%;
}

#skip-button {
  position: fixed;
  bottom: 20px;
  z-index: 3;
  left: 20px;
  text-decoration: none;
}


.bottom-band {
  position:fixed;
  bottom:0;
  left:0;
  z-index:1;
  height: 11vh;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}


/* ENCHAINEMENT DES PAGES D INTRO */

#accueil-app {
  height:100vh;
  background-image: url(assets/fond_accueil.png);
  background-size: 130%;
  background-position: center -12vw;
  background-repeat: no-repeat;


}

#modalIntro-1 {
  background-image: url(assets/fond_intro1.png);
  background-size: 130%;
  background-position: center -2vw;
}

#modalIntro-2 {
  background-image: url(assets/fond_intro2.png);
  background-size: 130%;
  background-position: center -0.5vw;
}

#modalIntro-3 {
  background-image: url(assets/fond_intro3.png);
  background-size: 125%;
  background-position: center -2vw;
}

#modalIntro-4 {
  background-image: url(assets/fond_intro4.png);
  background-size: 120%;
  background-position: center -10vw;
}

#modalIntro-5 {
  background-image: url(assets/fond_intro5.png);
  background-size: 130%;
  background-position: center -10vw;
}


#form1-text-input {
  height: 2.2rem;
  border-radius: 1.1rem;
  border: 2px solid #ddd;
  line-height: 2.2rem;
  text-align: center;
  color: #1f2fe9;
  font-size: 1.2rem;
  font-family: "Tomorrow";
  width: 110px;
}

#boutonForm {
  height: 44px;
  width: 44px;
  background: blue;
  color: white;
  margin-top: 1.4rem;
  border-radius: 22px;
  border: 0;
  text-transform: uppercase;
  font-family: "Tomorrow";
  font-weight: 500;
}

.fileImage {
  background: blue;
  color: white;
  font-size: 0.8rem;
/*  margin-top: 0.8rem;*/
  border-radius: 20px;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "Tomorrow";
  font-weight: 500;
}


.boutonClearStorage {
  height: 100px;
  width: 100px;
  margin-left: 5vw;
  background: #00e0b9;
  color: white;
  margin-top: 1.4rem;
  border-radius: 50px;
  border: 0;
  text-transform: uppercase;
  font-family: "Tomorrow";
  font-weight: 500;
  text-align: center;
}

.boutonClearStorage:hover,
.boutonClearStorage:focus {
  cursor: pointer;
}



/*MODALS DU TUTO */

.modal-tuto {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  max-width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}

/* Modal tuto Content/Box */
.modal-content-tuto {
  background: rgba(255, 255, 255, 0.7)
  margin-top:0vw;
  width: 100%;
  align-content: center;
}

.popup-tuto {
  width:80vw;
  text-align: center;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80vw;
  padding:10px;
  font-size: 18px;
  text-align:center;
  z-index:3;
  max-width: 100%;
}

.popup-tuto-2 {
  width:48vw;
  text-align: center;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin-right: auto;
  margin-left: 42vw;
  margin-top: 60vw;
  padding:10px;
  font-size: 18px;
  text-align:center;
  z-index:3;
  max-width: 100%;
}

.popup-tuto-3 {
  width:48vw;
  text-align: center;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin-right: auto;
  margin-left: 2vw;
  margin-top: 60vw;
  padding:10px;
  font-size: 18px;
  text-align:center;
  z-index:3;
  max-width: 100%;
}

.highlight {
  transform: scale(1.1);
  position: relative;
/*  filter: brightness(1.1);*/
  z-index: 3;
}

.move-image {
  transform: translateY(-55vh) scale(2);
}
.move-image2 {
  transform: translateY(-40vh) scale(2);
}
.move-image3 {
  transform: translateX(30vw) translateY(7vh) scale(2);
}
.move-image4 {
  transform: translateX(30vw) translateY(-7vh) scale(2);
}
.move-image5 {
  transform: translateX(30vw) translateY(-25vh) scale(2);
}
.move-image6 {
  transform: translateX(30vw) translateY(-40vh) scale(2);
}
.move-image7 {
  transform: translateX(-25vw) translateY(7vh) scale(2);
}
.move-image8 {
  transform: translateX(-25vw) translateY(-8vh) scale(2);
}
.move-image9 {
  transform: translateX(-25vw) translateY(-25vh) scale(2);
}


/* COMPTEURS DE VIE, NOUR, TEMPS */


#compteur-vie {
  position:absolute;
  padding: 1px;
  width: 135px;
  height: 35px;
  top : 0vh;
  left: 0vw;
  border: 1px solid #0fdbba;
  border-radius: 15px;

}

#compteur-vie2 {
  position:relative;
  padding: 1px;
  width: 135px;
  height: 35px;
  top : 0vh;
  left: 44vw;
  border: 1px solid #0fdbba;
  border-radius: 15px;

}

#compteur-vie3 {
  position:absolute;
  padding: 1px;
  width: 95px;
  height: 35px;
  top : 58vh;
  left: 5vw;
  border: 1px solid #0fdbba;
  border-radius: 15px;

}

#timer {
  position:absolute;
  text-align:center;
  width:135px;
  height:35px;
  left:0px;
  top:0px;
  line-height:35px;
  color:#0fdbba;
  font-size:25px;
}

/* NOUVELLES REGLES ET ATTAQUES RANDOM */

.modal-regles {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  max-width: 100%;
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}


.modal-regles-content {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 2vh;
  margin-left: auto;
  margin-right:auto;
  padding: 10px;
  width: 85%;
  height:95%;
  border: 1px solid #0fdbba;
  border-radius: 20px;
  box-shadow: 1px 1px 19px 3px rgba(0,0,0,0.2);
}

#attaqueRandom1{
  display:none;
}

#attaqueRandom2{
  display:none;
}

#attaqueRandom3{
  display:none;
}


/* The Close Button */
.close {
  position:absolute;
  right:8vw;
  color: #4DFFFF;
  float: right;
  font-size: 30px;
  font-weight: light;
  z-index: 3;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* TEXTES */

.popup {
  position:relative;
  width:80vw;
  text-align: center;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin: 0 auto;
/*  margin-top:-5vw;*/
  padding:10px;
  font-size: 18px;
  text-align:center;
  z-index:3;
  max-width: 100%;
}

.popup2 {
/*  position:absolute;*/
  width:80vw;
  text-align: center;
  color: white;;
  background-color: #1238E0;
  border-radius: 20px;
  border:0;
/*  margin: 15% auto;*/
/*  margin-top:-5vw;*/
  padding:10px;
  font-size: 18px;
  text-align:center;
  z-index:3;
  max-width: 100%;
}

#popup-reprod-4 {
  position: relative;
  margin-top: -30vh;
  z-index:2;
}

.popup-fin {
/*  position:absolute;*/
  width:80vw;
  text-align: center;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin-top:10vh;
  padding:10px;
  font-size: 18px;
  text-align:center;
  z-index:3;
  max-width: 100%;
}



.texte-gros {
  position:relative;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin-top: 15vw;
  margin-left:8vw;
  margin-right:8vw;
  padding:3vw;
  font-size: 7vw;
  text-align:center;
  line-height:0.9em;
  z-index: 3;
}


.texte-intro {
  position:absolute;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin-left:4vw;
  margin-right:4vw;
  margin-top:10vw;
  padding:3vw;
  font-size: 22px;
  text-align:center;
  line-height:0.9em;
  z-index: 2;
}

#texte-intro2 {
  top: 97vw;
}

#texte-intro3 {
  margin-top: 20vw;
}

#texte-intro4 {
  position:absolute;
  color: #1238E0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border:0.5vw solid #0fdbba;
  margin-left:4vw;
  margin-right:4vw;
  margin-top: 7vw;
  padding:3vw;
  font-size: 7vw;
  text-align:center;
  line-height:0.9em;
  z-index: 2;
}


#fin_texte{

}




/*  MENU / STRUCTURE */

.nav-col1 {
  position:absolute;
  top: 44px;
  left: 0vw;
}

.nav-col2 {
  position: absolute;
  top: calc(81.5vw + 44px);
  left: 29.5vw;
}

.nav-col3 {
  position: absolute;
  top: 44px;
  left: 53.5vw;
}

#page-accueil{
  margin: 10px auto 0;
  height: 90vh;
  width: 87vw;
  position: relative;
}


.nav-li1 {
  position:absolute;
  top: 0px;
  left: 1vw;
}



/* IMAGES */

.illu-classique {
  width: 80vw;
  position:relative;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  margin-bottom: 1vh;
  z-index: 1;
}

.illu-classique-decale {
  width: 80vw;
  position:relative;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  margin-bottom: -10vh;
  z-index: 1;
}


.illu-classique-petit {
  width: 50vw;
  position:relative;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  margin-bottom: 1vh;
  z-index: 1;
}

.illu-classique1 {
  width: 80vw;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 14vh;
  left: 6vw;
  margin-bottom: 0;
  z-index: 2;
}


#illu-reproduction-3 {
  width: 85vw;
/*  margin-left: -3vw;*/
}

#illu-reproduction-4 {
  width: 85vw;
/*  margin-left: -3vw;*/
}

#illu-herisson{
  width: 85vw;
}

.illu-mini {
  width: 20px;
  position: absolute;
/*  left: 3px;
  top: -0.5px;*/
/*  z-index: 1;*/
}

/*.illu-mini-2 {
  width: 20px;
  position: absolute;
  left: 3px;
  top: -1.8px;
/*  z-index: 1;*/

.illu-mini-col1{
  left: 5px;
/*  top: -0.5px;*/
}
.illu-mini-col2{
  left: 26px;
/*  top: -0.5px;*/
}
.illu-mini-col3{
  left: 47px;
/*  top: -0.5px;*/
}
.illu-mini-col4{
  left: 68px;
}
.illu-mini-col5{
  left: 89px;
}
.illu-mini-col6{
  left: 110px;
}
.illu-mini-li1{
  top: 2px;  
}
.illu-mini-li2{
  top: 20px; 
}

.illu-mini-col1-nour{
  left: 7px;
/*  top: -0.5px;*/
}
.illu-mini-col2-nour{
  left: 22px;
/*  top: -0.5px;*/
}
.illu-mini-col3-nour{
  left: 37px;
/*  top: -0.5px;*/
}
.illu-mini-col4-nour{
  left: 52px;
}
.illu-mini-col5-nour{
  left: 67px;
}
.illu-mini-col6-nour{
  left: 82px;
}
.illu-mini-li1-nour{
  top: 4px;  
}
.illu-mini-li2-nour{
  top: 20px; 
}

.illu-mini-nour {
  width: 10px;
  position: absolute;
/*  left: 2.5vw;
  top: -0.5vh;*/
/*  z-index: 1;*/
}

.illu-mini-nour-2 {
  width: 3vw;
  position: absolute;
/*  left: 2.5vw;
  top: -1.8vh;*/
/*  z-index: 1;*/
}

#vie1 {
  display:none;
}
#vie2 {
  display:none;
}
#vie3 {
  display:none;
}
#vie4 {
  display:none;
}
#vie5 {
  display:none;
}
#vie6 {
  display:none;
}
#vie7 {
  display:none;
}
#vie8 {
  display:none;
}
#vie9 {
  display:none;
}
#vie10 {
  display:none;
}
#vie11 {
  display:none;
}
#vie12 {
  display:none;
}


#nour1 {
  display:none;
}
#nour2 {
  display:none;
}
#nour3 {
  display:none;
}
#nour4 {
  display:none;
}
#nour5 {
  display:none;
}
#nour6 {
  display:none;
}
#nour7 {
  display:none;
}
#nour8 {
  display:none;
}
#nour9 {
  display:none;
}
#nour10 {
  display:none;
}
#nour11 {
  display:none;
}
#nour12 {
  display:none;
}



.illu-fond1 {
  width: 140vw;
  position:absolute;
  display:block;
  top: -10vw;
  left: -20vw;
  z-index: 0;
}

.illu-fond2 {
  position:absolute;
  width: 150vw;
  display:block;
  top: 20vw;
  left: -15vw;
  margin-right: auto;
  z-index: 0;
}

.illu-fond3 {
  position:absolute;
  width: 130vw;
  display:block;
  margin-top: -100vw;
  margin-left: -8vw;
  margin-right: auto;
  z-index: 0;
}

#illu-fond4{
  width:120vw;
  margin-left: -10vw;
  margin-top:-5vw;
}



#illu-pattern1{
  width: 50vw;
  position:relative;
  display:block;
  top: 5vw;
  margin-left: -3vw;
}

#illu-pattern2{
  width: 50vw;
  position:absolute;
  display:block;
  margin-left: 55vw;
  margin-top: -25vw;
}


#illu-pattern3{
  width: 50vw;
  position:absolute;
  display:block;
  margin-left: -25vw;
  margin-top: 17vw;
}

#illu-pattern4{
  width: 50vw;
  position:absolute;
  display:block;
  margin-left: 33vw;
  margin-top: 17vw;
}

#illu-pattern5{
  width: 50vw;
  position:absolute;
  display:block;
  margin-left: 90vw;
  margin-top: 17vw;
}

#illu-pattern6{
  width: 50vw;
  position:absolute;
  display:block;
  margin-left: 0vw;
  margin-top: 59vw;
}

#illu-pattern7{
  width: 50vw;
  position:absolute;
  display:block;
  margin-left: 58vw;
  margin-top: 59vw;
}

#fresque-herissons{
  width: 100vw;
  height:100vh;
  overflow: hidden;
}




/* ICONES */

#btnArbore {
  width: 32vw;
  transition : 0.7s ease-in-out;
}

#btnArbore:hover,
#btnArbore:focus {
  cursor: pointer;
}


#btnHerbace {
  width: 32vw;
  display: block;
  margin-top: -3vw;
  transition : 0.7s ease-in-out;
}

#btnHerbace:hover,
#btnHerbace:focus {
  cursor: pointer;
}


#btnArtif {
  width: 32.5vw;
  display: block;
  margin-left: 1vw;
  margin-top: -2.5vw; 
  transition : 0.7s ease-in-out;
}

#btnArtif:hover,
#btnArtif:focus {
  cursor: pointer;
}

#btnRoute {
  width: 32vw;
  margin-left: 0vw;
  margin-top: -13vw;
  transition : 0.7s ease-in-out;
}

#btnRoute:hover,
#btnRoute:focus {
  cursor: pointer;
}

#btnNourriture {
  width: 34vw;
  margin-left: 0.5vw;
  transition : 0.7s ease-in-out;
}

#btnNourriture:hover,
#btnNourriture:focus {
  cursor: pointer;
}

#btnReproduction {
  width: 36vw;
  display: block;
  margin-top: -4vw;
  margin-left: -2vw;
  transition : 0.7s ease-in-out; 
}

#btnReproduction:hover,
#btnReproduction:focus {
  cursor: pointer;
}


#btnVehicule {
  width: 32vw;
  transition : 0.7s ease-in-out;
}

#btnVehicule:hover,
#btnVehicule:focus {
  cursor: pointer;
}

#btnHumain {
  width: 35vw;
  margin-left: -2vw;
  margin-top: -4.5vw;
  transition : 0.7s ease-in-out;
}

#btnHumain:hover,
#btnHumain:focus {
  cursor: pointer;
}

#btnHerisson {
  width: 32vw;
  margin-left: -1vw;
  margin-top: -12vw;
  transition : 0.7s ease-in-out;
}

#btnHerisson:hover,
#btnHerisson:focus {
  cursor: pointer;
}


/*BOUTONS RONDS*/

.btnNext {
  width: 16vw;
  position: fixed;
  align-content: center;
  left: 54vw;
  bottom: 1.5vh;
  z-index: 2;
}

.btnNext:hover,
.btnNext:focus {
  cursor: pointer;
}


.btnPrev {
    width: 16vw;
    position:fixed;
    align-content: center;
    left: 28vw;
    bottom: 1.5vh;
    z-index:2;
}

.btnPrev:hover,
.btnPrev:focus {
  cursor: pointer;
}


.btnNextFin {
  width: 16vw;
  position: fixed;
  align-content: center;
  left: 54vw;
  bottom: 5vh;
  z-index: 3;
}

.btnNextFin:hover,
.btnNextFin:focus {
  cursor: pointer;
}

.btnPrevFin {
  width: 16vw;
  position:fixed;
  align-content: center;
  left: 28vw;
  bottom: 5vh;
  z-index:3;
}

.btnPrevFin:hover,
.btnPrevFIn:focus {
  cursor: pointer;
}


#btnReprod4 {
  display:none;
}

#btnReprod4:hover,
#btnReprod4:focus {
  cursor: pointer;
}

#btnReprod6{
  display:none;
}

#btnReprod6:hover,
#btnReprod6:focus {
  cursor: pointer;
}

#btnVehicule3 {
  display: none;
}

#btnHumain3 {
  display: none;
}

/*#btnNext1 {
    margin-top: 84.8vw;
}

#btnNext2 {
    margin-top: 169vw;
}

#btnNext3 {
    margin-top: 169vw;
}

#btnNext4 {
    margin-top: 55vw;
}*/

#btnNext6 {
    display:none;
}

.btnNext5:hover,
.btnNext5:focus {
  cursor: pointer;
}


#btnFin {
  width: 16vw;
  position: fixed;
  left: 76vw;
  bottom: 10vh;
}

.btnFin:hover,
.btnFin:focus {
  cursor: pointer;
}


/*.icone-rond {
  width: 17vw;
  left: 52vw;
  top: 89vh;    
  position:absolute;
  z-index:3;
}



.icone-prev {
  width: 17vw;
  left: 28vw;
  top: 89vh;
  position:absolute;
  z-index:3;
}

.icone-rond:hover,
.icone-rond:focus {
  cursor: pointer;
}

.icone-prev:hover,
.icone-prev:focus {
  cursor: pointer;
}*/


@media screen and (min-width: 900px) {

  .modal {
    width: 500px; /* Full width */
    max-width: 100%;
    height: 800px; /* Full height */
  }

  /* Modal Content/Box */
  .modal-content {
/*    margin: 15% auto;*/
/*    padding: 20px;*/
    width: 80%;
    align-content: center;
  }

  /* The Close Button */
  .close {
    font-size: 28px;
  }


  /*  MENU */

  .nav-col1 {
    position:absolute;
    top:20px;
    left:0px;
  }

  .nav-col2 {
    position:absolute;
    top: 525px;
    left: 180px;
  }

  .nav-col3 {
    position:absolute;
    top: 28px;
    left: 325px;
  }



  /* TEXTES */

/*  .popup {
    border:2px solid #0fdbba;
    margin: 15% auto;
    padding:10px;
    font-size: 16px;
    z-index: 3;
  }*/


  .texte-gros {
  margin-top: 30px;
  margin-left:100px;
  margin-right:100px;
  padding:10px;
  font-size: 80px;
}


  /* IMAGES */

  .illu-classique {
  width: 300px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 0;
  }



  #illu-pattern1{
    width: 100px;
    display:block;
    margin-left: -20px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #illu-pattern2{
    width: 100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }



  /* ICONES */

  #btnArbore {
    width: 200px;
    margin-left: 10px;
    margin-top: 20px;
  }

  #btnHerbace {
    width: 200px;
    margin-left: 9px;
    margin-top: -20px;
  }

  #btnArtif {
    width: 190px;
    display:block;
    margin-left: 20px;
    margin-top: -17px;
  }

  #btnRoute {
    width: 190px;
    margin-left: 13px;
    margin-top: -77px;
  }

  #btnNourriture {
    width: 220px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: -13px;
  }

  #btnReproduction {
    width: 230px;
    display:block;
    margin-left: -7px;
    margin-top: -13px;
  }

  #btnVehicule {
    width: 200px;
    display:block;
    margin-left: 17px;
    margin-top: -12px;
  }

  #btnHumain {
    width: 220px;
    display:block;
    margin-left: 4px;
    margin-top: -27px;
  }

  #btnHerisson {
    width: 200px;
    display:block;
    margin-left: 11px;
    margin-top: -75px;
  }

  .icone-rond {
    width: 50px;
    display:block;
 
  }

}

